<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeatingHeart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E8FE00F1C9AF0CC00C83731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8FE0281C9AF0CC00C83731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8FE0331C9AF0CC00C83731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
